@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.page {
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470")
    no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-box {
  width: 420px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.signup-box h1 {
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.signup-box label {
  display: block;
  text-align: left;
  margin: 12px 0 5px;
  font-size: 14px;
}

.signup-box input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.signup-btn {
  margin-top: 20px;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background: #111;
  color: #fff;
  cursor: pointer;
}

.signup-btn:hover {
  background: #000;
}

.forgot {
  margin-top: 15px;
  font-size: 13px;
}

.forgot span {
  text-decoration: underline;
  cursor: pointer;
}

.social-text {
  margin-top: 25px;
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons i {
  margin: 0 10px;
  font-size: 18px;
  cursor: pointer;
}
