@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.signup-container {
  min-height: 100vh;
  background: url("/background.jpg") no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Glassmorphism card */
.signup-card {
  width: 420px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

.signup-card h1 {
  margin-bottom: 30px;
  letter-spacing: 2px;
}

.field {
  margin-bottom: 20px;
  text-align: left;
}

.field label {
  font-size: 14px;
  margin-bottom: 6px;
  display: block;
}

.field input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #cdeef5;
}

.signup-btn {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background: #0b2c3d;
  color: #fff;
  cursor: pointer;
  margin: 20px 0;
}

.signup-btn:hover {
  background: #134c66;
}

.forgot {
  font-size: 13px;
  margin-bottom: 20px;
}

.forgot span {
  cursor: pointer;
  text-decoration: underline;
}

.social-text {
  margin-bottom: 15px;
  font-size: 14px;
}

.social-icons i {
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
}

.social-icons i:hover {
  color: #aadfff;
}
